src/api/webapp/wsdl/OpenISSRestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://rest.ws.openiss" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://rest.ws.openiss" xmlns:intf="http://rest.ws.openiss" xmlns:tns1="http://core.rs.ws.javax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://rest.ws.openiss" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://core.rs.ws.javax"/>
   <element name="getImage">
    <complexType>
     <sequence>
      <element name="type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getImageResponse">
    <complexType>
     <sequence>
      <element name="getImageReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getIt">
    <complexType/>
   </element>
   <element name="getItResponse">
    <complexType>
     <sequence>
      <element name="getItReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="enableMix">
    <complexType>
     <sequence>
      <element name="action" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="enableMixResponse">
    <complexType>
     <sequence>
      <element name="enableMixReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="disableMix">
    <complexType/>
   </element>
   <element name="disableMixResponse">
    <complexType>
     <sequence>
      <element name="disableMixReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="disableOpenCV">
    <complexType>
     <sequence>
      <element name="type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="disableOpenCVResponse">
    <complexType>
     <sequence>
      <element name="disableOpenCVReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="enableOpenCV">
    <complexType>
     <sequence>
      <element name="type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="enableOpenCVResponse">
    <complexType>
     <sequence>
      <element name="enableOpenCVReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="enableMixRequest">

      <wsdl:part element="impl:enableMix" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enableOpenCVRequest">

      <wsdl:part element="impl:enableOpenCV" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="disableOpenCVResponse">

      <wsdl:part element="impl:disableOpenCVResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enableOpenCVResponse">

      <wsdl:part element="impl:enableOpenCVResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getImageRequest">

      <wsdl:part element="impl:getImage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getImageResponse">

      <wsdl:part element="impl:getImageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getItRequest">

      <wsdl:part element="impl:getIt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="disableMixResponse">

      <wsdl:part element="impl:disableMixResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getItResponse">

      <wsdl:part element="impl:getItResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="disableMixRequest">

      <wsdl:part element="impl:disableMix" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enableMixResponse">

      <wsdl:part element="impl:enableMixResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="disableOpenCVRequest">

      <wsdl:part element="impl:disableOpenCV" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OpenISSRestService">

      <wsdl:operation name="getImage">

         <wsdl:input message="impl:getImageRequest" name="getImageRequest">

       </wsdl:input>

         <wsdl:output message="impl:getImageResponse" name="getImageResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getIt">

         <wsdl:input message="impl:getItRequest" name="getItRequest">

       </wsdl:input>

         <wsdl:output message="impl:getItResponse" name="getItResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enableMix">

         <wsdl:input message="impl:enableMixRequest" name="enableMixRequest">

       </wsdl:input>

         <wsdl:output message="impl:enableMixResponse" name="enableMixResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="disableMix">

         <wsdl:input message="impl:disableMixRequest" name="disableMixRequest">

       </wsdl:input>

         <wsdl:output message="impl:disableMixResponse" name="disableMixResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="disableOpenCV">

         <wsdl:input message="impl:disableOpenCVRequest" name="disableOpenCVRequest">

       </wsdl:input>

         <wsdl:output message="impl:disableOpenCVResponse" name="disableOpenCVResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enableOpenCV">

         <wsdl:input message="impl:enableOpenCVRequest" name="enableOpenCVRequest">

       </wsdl:input>

         <wsdl:output message="impl:enableOpenCVResponse" name="enableOpenCVResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OpenISSRestServiceSoapBinding" type="impl:OpenISSRestService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getImageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getImageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getIt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enableMix">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enableMixRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="enableMixResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="disableMix">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="disableMixRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="disableMixResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="disableOpenCV">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="disableOpenCVRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="disableOpenCVResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enableOpenCV">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enableOpenCVRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="enableOpenCVResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OpenISSRestServiceService">

      <wsdl:port binding="impl:OpenISSRestServiceSoapBinding" name="OpenISSRestService">

         <wsdlsoap:address location="http://localhost:8080/OpenISS/services/OpenISSRestService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
